/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0; }
dd { margin: 0 }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Michael Krishtopa <theo at heddex dot biz>
   ========================================================================== */

/* Shared styles
 * ========================================================================== */

.portal-header-wrapper,
.portal-footer-wrapper,
.content-wrapper {
  width: 940px;
  margin: 0 auto;
}

/* Base styles
 * ========================================================================== */

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: normal;
  color: #4f585a;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
ul {
  list-style: none none;
}

/* Structure styles
 * ========================================================================== */

.content-wrapper {
  display: table;
  position: relative;
}
.portal-column-left,
.portal-column-right,
.portal-column-content {
  display: table-cell;
  vertical-align: top;
}
.portal-column-left {
    display: none;
  width: 180px;
  padding: 15px;
  background-color: rgb(247, 250, 250);
}
.portal-column-content {
  padding: 15px;
}


/* Site header
 * ========================================================================== */

.portal-header {
  width: 100%;
  margin-bottom: 30px;
  background: url(../img/header-bg1.png) repeat-y center top;
  border-bottom: 2px solid #e4eef0;
}
.portal-header-wrapper {
  position: relative;
  height: 510px;
  background: url(../img/slide3.jpg) no-repeat center 145px;
}
.portal-logo {
  position: absolute;
  top: 0;
  left: 0px;
}

#portal-globalnav {
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}
#portal-globalnav li {
  position: relative; /* dropdown inside positioning */
  display: inline;
  margin-left: 1.5em;
    /*border: 1px solid red;*/
}
#portal-globalnav li a,
#portal-globalnav li a:visited {
  color: rgb(181, 201, 205);
  color: #333;
  text-decoration: none;
}
#portal-globalnav li a:hover,
#portal-globalnav li.selected a {
  color: rgb(41, 198, 232);
  text-decoration: underline;
}

#portal-globalnav li ul {
  display: none;
  position: absolute;
  top: 0;
  left: -5px;
  padding: 5px 0 0 0;
  z-index: 255;
  background-color: rgba(255,255,255,0.9);
    /*border: 1px solid red;*/
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2)
}
#portal-globalnav li:hover ul {
  display: block;
}
#portal-globalnav li ul li {
  display: block;
  width: 10em;
  margin: 0;
}
#portal-globalnav li ul li a {
  display: block;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none!important; /* .selected override */
}
#portal-globalnav li ul li a:hover {
  color: #333;
  background-color: #e0e0e0;
}


#portal-globalnav-subnav {
  position: absolute;
  right: 20px;
  top: 55px;
  font-size: 12px;
}
#portal-globalnav-subnav li {
  display: inline;
  margin-left: 1em;
}
#portal-globalnav-subnav li a {
  color: #999;
  text-decoration: none;
}
#portal-globalnav-subnav li a:hover,
#portal-globalnav-subnav li.selected a {
  color: #000;
  text-decoration: underline;
}

/* Portlets
 * ========================================================================== */

.portletHeader {
  display: block;
  font-size: 22px;
}
.portletItem {
  display: block;
  margin: 0 0 5px 0;
}

.portletIssues dl {
  margin: 0;
}
.portletIssues dt {
  margin: 5px 0 0 0;
  /*font-weight: bold;*/
  padding: 0 0 0 12px;
  background: url(../img/arrow-right.png) no-repeat left center;
}
.portletIssues dt.selected {
  text-decoration: underline;
  font-weight: bold;
}
.portletIssues dt a {
  color: #000;
  text-decoration: none;
}
.portletIssues dt a:hover {
  text-decoration: underline;
}
.portletIssues dd {
  display: none;
  padding: 0 0 0 12px;
  line-height: 1.25;
  background: url(../img/arrow-right.png) no-repeat left 3px;
}
.portletIssues dd a {
  text-decoration: none;
  color: #21417e;
  font-size: 0.95em;
}
.portletIssues dd a:hover {
  text-decoration: underline;
}

/* Content
 * ========================================================================== */

.documentFirstHeading {
  margin-bottom: 0.5em;
  font-weight: bold;
}
.section-homepage .documentFirstHeading {
  margin-bottom: 5px;
}
.description {
  margin: 0 0 1.5em 0;
  font-size: 13px;
  font-weight: bold;
}
.content-wrapper table {
  width: 100%;
  margin: 1em 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content-wrapper table th,
.content-wrapper table td {
  padding: 5px 7px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.content-wrapper table th {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
}
.content-wrapper table td {
  background-color: #fcfcfc;
}
.content-wrapper table td a {
  text-decoration: none;
  /*color: #21417E;*/
}
.col2 {
  white-space: nowrap;
  vertical-align: middle;
}
.col3 {
  text-align: center;
  vertical-align: middle;
}

.content-wrapper {
  font-size: 13px;
}
.content-wrapper a {
  /*color: rgb(41, 199, 232);*/
  color: rgb(0, 0, 238);
}
.content-wrapper a:visited {
  color: #999;
}
.content-wrapper a:hover {
  color: #000;
}
.portal-column-content ul {
  margin-left: 1.5em;
  list-style-position: outside;
  list-style-type: disc;
}
.portal-column-content ol {
  margin-left: 1.5em;
}
.portal-column-content li {
  margin-bottom: 0.25em;
}
.portal-column-content img {
  padding: 1px;
  border: 1px solid #e4eef0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}

/* Site footer
 * ========================================================================== */

.portal-footer {
  margin-top: 50px;
  text-align: center;
  font-size: 11px;
  color: #333;
}
.portal-footer-wrapper {
  padding: 1em 0;
  border-top: 2px solid #e4eef0;
}






/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
